body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #031716; 
    color: #6BA3BE; 
}

/* Header Styling */
header {
    background-color: #032F30; 
    color: #6BA3BE; 
    padding: 1.5rem 0;
    text-align: center;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Navigation Bar */
nav {
    background-color: #0A7075; 
    padding: 0.75rem 0;
    text-align: center;
}
nav a {
    color: #6BA3BE; 
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

/* Section Styling */
section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background-color: #0C969C; 
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #031716; 
}

/* Footer*/
footer {
    background-color: #032F30; 
    color: #274D60; 
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
